---
layout: default.hbs
cols: 1
---


<div class="l-contain l-1-col-master cf">

    {{> share-button }}

    {{> h1-main }}

    <!-- Primary content container -->
    <main class="content-primary">
        {{> body }}
        {{> related-content }}
        {{> sharebar }}
    </main><!-- .content-primary -->

</div><!-- .l-1-col-master -->
