---
layout: default.hbs
cols: 2
---


<div class="l-contain l-2-col-master l-2-col-master--w-content-secondary cf">

    {{> share-button }}

    {{> h1-main }}

    <!-- Primary content container -->
    <main class="content-primary">
        {{> body }}
        {{> related-content }}
        {{> sharebar }}
    </main><!-- .content-primary -->

    {{> content-secondary }}

</div><!-- .l-2-col-master -->
