
@import
    "base/media-queries",
    "prism-okaidia";

$dkGray: #141414;
$openSans: 'Open Sans', sans-serif;

$offCanvasNavW: 320px;

$zIndexNav: 10;
$zIndexContent: 20;
$zIndexHeader: 30;
$zIndexNavOpenOldIE: 50;

.open-sans {
    font-family: $openSans;
    font-weight: 400;
}
.open-sans--semibold {
    font-weight: 600;
}

.sg-body,
.sg-content-wrap {
    background-color: #F3F3F0;
    a {
        color: #18399E;
    }
}

.sg-block {
    background-color: #FFF;
    border: 1px solid #DCDCDC;
    margin-bottom: 5%;
}

.sg-block__content {
    padding: 30px;
}

.sg-block__example {
    margin-bottom: 30px;
}

.sg-block__expand-toggle,
.sg-block__title {
    color: $dkGray;
    display: table-cell;
    vertical-align: middle;
}

.sg-block__expand-toggle {
    cursor: pointer;
    font-size: 16px;
    text-align: right;
    width: 250px;
    .show-if-expanded {
        display: none;
    }

    .sg-block.module-is-expanded & {
        .show-if-collapsed {
            display: none;
        }
        .show-if-expanded {
            display: inline;
        }
    }
}

.sg-block__header {
    background-color: #DCDCDC;
    display: table;
    height: 66px;
    padding: 15px 18px;
    width: 100%;
}

.sg-block__header2 {
    border-bottom: 1px solid #979797;
    margin-bottom: 20px;
    padding: 0 0 10px;
    text-transform: capitalize;
}

.sg-block__header3 {
    margin: 10px 0 5px;
}

.sg-block__html {
    pre {
        background-color: #272822;
        border-radius: 0;
        color: #f8f8f2;
        font-family: "Lucida Console", Monaco, monospace;
        margin: 0.5em 0;
        overflow: auto;
        padding: 1em;
    }
}

.sg-block__module-list {
    line-height: 1.5;
    margin-bottom: 15px;
    > li {
        display: inline;
        &:after {
            content: ", ";
            font-weight: bold;
        }
        &:last-child:after {
            content: "";
        }
    }
}

.sg-block__more {
    &.is-collapsed {
        display: none;
    }
    &.is-expanded {
        display: block;
    }
}

.sg-block__notes {
    p, ul {
        line-height: 1.61;
        margin-top: 0.5em;
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        list-style: square outside;
        margin-left: 35px;
        text-transform: capitalize;
    }
}

.sg-block__list {
    > li {
        margin-bottom: 20px;
    }
}

.sg-block__title,
.sg-block__title > a {
    color: $dkGray;
    font-size: 18px;
    text-transform: uppercase;
}


// BREADCRUMB
.sg-breadcrumb {
    margin: 15px 0; // To center align with "show all" button
    > li {
        color: #2D2D2D;
        display: inline;
        font-size: 18px;
        line-height: 1.5;
        text-transform: capitalize;
        &:after {
            content: '\00a0\203A';
            margin-right: 4px;
        }
        &:last-child:after {
            display: none;
        }
        > a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.sg-contain {
    margin: 0 auto;
    max-width: 1238px;
    width: 92%;
}

// CONTENT WRAP
.sg-content-wrap {
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 180px;
    position: relative;
    z-index: $zIndexContent;
    transition: transform .4s;
    .is-showing-nav & {
        transform: translateX(-$offCanvasNavW);
    }
}


// HEADER
.sg-header {
    background-color: #FFF;
    border-bottom: 1px solid #C8C8C8;
    height: 98px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: $zIndexHeader;
}

.sg-header__inner {
    display: table;
    height: 100%;
    position: relative;
}

.sg-header__left,
.sg-header__right {
    display: table-cell;
    vertical-align: middle;
}

.sg-header__right {
    text-align: right;
}

// NAV
.sg-nav,
.sg-nav__close {
    color: #FFF;
    padding-left: 30px;
    padding-right: 30px;
    a {
        color: inherit;
    }
}

.sg-nav-open {
    background-color: transparent;
    background-image: url(/images/styleguide/icon-nav-toggle.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border: 0;
    display: inline-block;
    font-size: 15px;
    height: 40px;
    line-height: 38px;
    text-align: left;
    width: 102px;
    &:focus {
        outline: 0;
    }
}

.sg-nav {
    padding-top: 78px;
}

.sg-nav__level1-title {
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.sg-nav__level2 {
    margin-bottom: 20px;
    > li {
        border-bottom: 1px dashed #868686;
        margin: 10px 0;
        padding: 0 0 6px 12px;
        text-transform: capitalize;
    }
}

.sg-nav__close {
    background-color: #343434;
    border-bottom: 1px solid #1E1E1E;
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 98px;
    height: 98px;
    text-align: right;
}
.sg-nav-wrap {
    background-color: #3E3E3E;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    transition: transform .4s;
    top: 0; right: -$offCanvasNavW;
    width: $offCanvasNavW;
    z-index: $zIndexNav;
    .is-showing-nav & {
        transform: translateX(-$offCanvasNavW);
        .lt-ie10 & {
            right: 0;
            z-index: $zIndexNavOpenOldIE;
        }
    }
}

.sg-screenshot {
    border: 5px solid #C8C8C8;
    + .rtf {
        margin-top: 40px;
    }
}

// TOGGLE ALL CODE BUTTON
.sg-toggle-all {
    background-color: #343434;
    border: 0;
    color: #FFF;
    font-size: 16px;
    height: 50px;
    padding: 14px 26px;
    .show-if-expanded {
        display: none;
    }
    .tbg & {
        color: #FFF;
    }

    &.sg-blocks-expanded {
        .show-if-collapsed {
            display: none;
        }
        .show-if-expanded {
            display: inline;
        }
    }

    &:focus {
        outline: 0;
    }
}

// UTILITY
.sg-utility {
    margin-bottom: 40px;
}

// Micro clearfix
.sg-u-cf:before,
.sg-u-cf:after {
    content: " ";
    display: table;
}

.sg-u-cf:after {
    clear: both;
}

.sg-u-cf {
    *zoom: 1;
}

.sg-u-float-l {
    float: left;
}

.sg-u-float-r {
    float: right;
}


@include medium-and-below {

    .sg-block__html {
        margin-bottom: 30px;
    }

}


@include large-and-above {

    .sg-block__html {
        clear: both;
        float: left;
        margin-right: 5%;
        width: 50%;
    }

    .sg-block__notes {
        overflow: hidden;
    }

}

// Customizations for M&T Style Guide
.sg-body {

    button {
        font-size: 12px;
        font-size: 1.2rem;
    }

    .content-wrap {
        background-color: transparent;
        overflow: visible;
    }

}
