@font-face {
  font-family:'VAG Rounded W01 Light';
  src:url(/fonts/VAGRoundedW01-Light.eot); /*ImageEmbed:skip*/
  src:url(/fonts/VAGRoundedW01-Light.eot?#iefix) format('embedded-opentype'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Light.woff) format('woff'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Light.ttf)  format('truetype'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Light.svg#webfontmvIrHXJB) format('svg'); /*ImageEmbed:skip*/
}
@font-face {
  font-family:'VAG Rounded W01 Bold';
  src:url(/fonts/VAGRoundedW01-Bold.eot); /*ImageEmbed:skip*/
  src:url(/fonts/VAGRoundedW01-Bold.eot?#iefix) format('embedded-opentype'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Bold.woff) format('woff'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Bold.ttf)  format('truetype'), /*ImageEmbed:skip*/
      url(/fonts/VAGRoundedW01-Bold.svg#webfontwypHja6U) format('svg'); /*ImageEmbed:skip*/
}

html, button, input, select, textarea { color: #5A5A5A; font-family: Arial; font-size: 16px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body {  }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
input[type=submit], input[type=search] {
    -moz-appearance:none;
    -webkit-appearance: none;
}
*, *:after, *:before { @include borderBox; } // Firefox doesn't auto apply box-sizing to pseudo elements

strong, b { font-weight: bold; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { height: auto; max-width: 100%; vertical-align: middle; }
.lt-ie9 img { width: auto; } // Prevent height distortion in IE8


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.cf:before, .group:before,
.cf:after, .group:after { content: " "; display: table; }
.cf:after, .group:after { clear: both; }
.cf, .group { *zoom: 1; }


/* ==========================================================================
   Modifiers
   ========================================================================== */

.no-after:after { content: "" !important; }
.no-before:before { content: "" !important; }

.js-disabled { cursor: default !important; }
.js-expand-toggle { cursor: pointer; } // Allows iphone/ipad to understand click events on non-anchor elements

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }