<button type="button" class="sg-toggle-all open-sans u-float-r js-sg-toggle-all">
    <span class="show-if-collapsed">Show</span>
    <span class="show-if-expanded">Hide</span>
    All Code/Annotations
</button>