---
layout: 2-col-master-w-content-nav.hbs
title: Basser Research Center for BRCA
subtitle: Revolutionizing BRCA1 and BRCA2 Research
description: Description
section: 1
showOffcanvasToggles: true
breadcrumbData: <%= breadcrumbs.master %>
inPageCTAs:
    - <%= cta.inPageResearch %>
    - <%= cta.inPageAppt %>
    - <%= cta.inPageDonate %>
---

<!-- YAPL
name: Cancer Subcenter Landing
-->

<div class="rtf u-cf"><!-- "rtf" class wraps sections of rich text (in general) -->
    <p>Teaser text dolor sit amet, consectetur adipiscing elit. Integer auctor eget risus ac laoreet. Sed at ipsum tempus, vulputate lacus vitae, auctor leo. Mauris sodales diam mauris, non imperdiet tellus rutrum id. Nullam dolor nisl, eleifend eget dignissim fringilla, viverra vel mauris. Cras ut nisl at justo ultrices interdum nec non massa. Etiam vel metus porttitor porta, quam tellus dapibus orci, eu accumsan mauris eros sit amet orci. Proin lacinia erat sed felis</p>
</div><!-- .rtf -->

<div class="cta-row l-row u-cf">
{{#each inPageCTAs}}
    {{> cta this}}
{{/each}}
</div>

<div class="l-row l-grid-of-3-mq-medium l-grid-of-3-mq-large u-cf">
    <div class="l-grid__col--2">
        <iframe width="640" height="360" src="//www.youtube.com/embed/6lz5uHbeCsw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="l-grid__col">
        {{> cta-list }}
    </div>
</div>

<div class="rtf u-cf">
    <h2>Subhead Goes Here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor eget risus ac laoreet. Sed at ipsum tempus, vulputate lacus vitae, auctor leo. Mauris sodales diam mauris, non imperdiet tellus rutrum id. Nullam dolor nisl, eleifend eget dignissim fringilla, viverra vel mauris. Cras ut nisl at justo ultrices interdum nec non massa.</p>
    <p>Integer auctor eget risus ac laoreet. Sed at ipsum tempus, vulputate lacus vitae, auctor leo. Mauris sodales diam mauris, non imperdiet tellus rutrum id. Nullam dolor nisl, eleifend eget dignissim fringilla, viverra vel mauris. Cras ut nisl at justo ultrices interdum nec non massa. </p>
</div>

{{> story-slider storySlider.master }}
