---
layout: 2-col-master-w-content-nav.hbs
title: Gestational Trophoblastic Disease and Choriocarcinoma
description: Description
section: 1
showOffcanvasToggles: true
breadcrumbData: <%= breadcrumbs.master %>
inPageCTAs:
    - <%= cta.inPageResearch %>
    - <%= cta.inPageAppt %>
    - <%= cta.inPageDonate %>
related_content:
    - <%= relatedContent.linksWideNews %>
    - <%= relatedContent.linksWideBreakthroughs %>
---

<!-- YAPL
name: Cancer Type Landing
notes: Landing page for a single cancer type.
-->

<div class="rtf u-cf"><!-- "rtf" class wraps sections of rich text (in general) -->
    <p>Teaser text dolor sit amet, consectetur adipiscing elit. Integer auctor eget risus ac laoreet. </p>
</div><!-- .rtf -->

<div class="cta-row l-row u-cf">
{{#each inPageCTAs}}
    {{> cta this}}
{{/each}}
</div>

<div class="rtf u-cf"><!-- "rtf" class wraps sections of rich text (in general) -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget pulvinar dolor. Vestibulum vehicula euismod suscipit. Sed consequat, turpis et sagittis egestas, nisi arcu molestie erat, et commodo ante sem eget dolor. Sed finibus est eget massa rhoncus commodo sit amet ac magna. Suspendisse condimentum risus in placerat interdum. Donec vitae nisl ut nunc sagittis lobortis pharetra id orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis in vulputate odio, ut pretium felis. Nam tempor purus eget eros cursus dignissim.</p>
    <p>Aliquam id turpis turpis. Vestibulum fermentum felis justo, et rhoncus odio venenatis sed. Nullam at tellus risus. Donec rhoncus laoreet consectetur. Etiam luctus urna turpis, ut feugiat nunc egestas a. Praesent efficitur odio et ligula scelerisque hendrerit. Nam dapibus aliquet iaculis. </p>
</div><!-- .rtf -->

<div class="l-row l-grid--2col-mq-medium l-grid--2col-mq-large u-cf">
    <div class="l-grid__col">
        <article>
            <img src="http://placehold.it/184x125" alt="" class="figure u-float-l">
            <h2 class="h4"><a href="#" class="a">New Research in Gestation</a></h2>
            <div class="rtf rtf--small">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  diam mauris, non imperdiet tellus rutrum lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor eget risus ac laoreet. Sed at ipsum tempus, vulputate lacus vitae, auctor leo. Mauris sodales diam mauris, non imperdiet tellus rutrum id. Nullam dolor nisl, eleifend eget dignissim fringras ut nisl at justo ultrices interdum massa.</p>
            </div>
        </article>
    </div>
    <div class="l-grid__col">
        <article>
            <img src="http://placehold.it/184x125" alt="" class="figure u-float-l">
            <h2 class="h4"><a href="#" class="a">New Research in Gestation</a></h2>
            <div class="rtf rtf--small">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  diam mauris, non imperdiet tellus rutrum lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor eget risus ac laoreet. Sed at ipsum tempus, vulputate lacus vitae, auctor leo. Mauris sodales diam mauris, non imperdiet tellus rutrum id. Nullam dolor nisl, eleifend eget dignissim fringras ut nisl at justo ultrices interdum massa.</p>
            </div>
        </article>
    </div>
</div><!-- .l-row -->

<div class="l-row">
    <ul class="block-list">
        <li class="block-list__item">
            <span class="block-list__item-title h4">Definition</span>
            <div class="block-list__item-text rtf">
                <a href="#">What is Gestational Trophoblastic Disease and Choriocarcinoma?</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Types</span>
            <div class="block-list__item-text rtf">
                <a href="#">Types of Gestational Trophoblastic Disease and Choriocarcinoma</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Risks &amp; Prevention</span>
            <div class="block-list__item-text rtf">
                <a href="#">Gestational Trophoblastic Disease and Choriocarcinoma Risks &amp; Prevention</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Diagnosis</span>
            <div class="block-list__item-text rtf">
                <a href="#">Gestational Trophoblastic Disease and Choriocarcinoma Diagnosis</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Treatment</span>
            <div class="block-list__item-text rtf">
                <a href="#">Gestational Trophoblastic Disease and Choriocarcinoma Treatment</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Questions to Ask</span>
            <div class="block-list__item-text rtf">
                <a href="#">What to Ask Your Doctor</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Support</span>
            <div class="block-list__item-text rtf">
                <a href="#">Gestational Trophoblastic Disease and Choriocarcinoma Support Services</a>
            </div>
        </li>
        <li class="block-list__item">
            <span class="block-list__item-title h4">Treatment Team</span>
            <div class="block-list__item-text rtf">
                <a href="#">Gestational Trophoblastic Disease and Choriocarcinoma Team</a>
            </div>
        </li>
    </ul><!-- .block-list -->
</div><!-- .l-row -->
