---
layout: 2-col-master-w-content-nav.hbs
title: Young Friends of the Abramson Cancer Center Happy Hour Wine, Beer, & Vodka Tasting Fundraiser Event
description: Description
section: 0
showOffcanvasToggles: true
breadcrumbData: <%= breadcrumbs.master %>
backToLink: /ProductionTemplates/event-calendar.html
backToLinkText: Back to Event Calendar
---

<!-- YAPL
name: Event Detail
notes: Displays details about a single event.
-->

<div class="u-cf"><!-- "rtf" class wraps sections of rich text (in general) -->

    {{> figure figure.event }}

    {{> dl dl.event }}

</div><!-- .u-cf -->


<div class="l-row">

    {{> feed }}

</div><!-- .l-row -->
