---
layout: 1-col-master.hbs
title: Navigating Cancer Care
description: Description
section: 2
---

<!-- YAPL
name: Navigating Cancer Care
-->



<div class="rtf l-row">
    <p>Teaser text here lorem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
</div><!-- .rtf -->


<div class="padbox1 padbox1--full-bottom u-cf">
    <div class="padbox1-grid__col padbox1-grid__col--narrow padbox1-grid__col--bordered">
        <ul class='nav-sub'>
            <li class="nav-sub__item"><a href="#">Getting Started</a></li>
            <li class="nav-sub__item"><a href="#">Treatment Types</a></li>
            <li class="nav-sub__item"><a href="#">Risks &amp; Prevention</a></li>
            <li class="nav-sub__item"><a href="#">Support Services</a></li>
            <li class="nav-sub__item"><a href="#">Your Role in Your Care</a></li>
            <li class="nav-sub__item"><a href="#">Living Well After Cancer</a></li>
            <li class="nav-sub__item"><a href="#">Programs &amp; Services</a></li>
            <li class="nav-sub__item"><a href="#">For International Patients</a></li>
        </ul><!-- .nav-sub -->
    </div><!-- .padbox1-grid__col -->

    <div class="padbox1-grid__col padbox1-grid__col--wide padbox1-grid__col--bordered">
        <div class="thumb-list thumb-list--articles">
            <div class="thumb-list__row">
                <div class="thumb-list__item--article u-cf">
                    <div class="thumb-list__thumb">
                        <img src="http://placehold.it/190x128" alt="">
                    </div>
                    <div class="thumb-list__text rtf">
                        <h3><a href="#">Looking for a doctor?</a></h3>
                        <p>Descriptive text that includes brief explanatory copy here. <a class="link-generic-action" href="">Find a doctor now</a></p>
                    </div>
                </div><!-- .thumb-list__item -->
            </div><!-- .thumb-list__row -->

            <div class="thumb-list__row">
                <div class="thumb-list__item--article u-cf">
                    <div class="thumb-list__thumb">
                        <img src="http://placehold.it/190x128" alt="">
                    </div>
                    <div class="thumb-list__text rtf">
                        <h3><a href="#">Want an appointment?</a></h3>
                        <p>Descriptive text that includes brief explanatory copy here. <a class="link-generic-action" href="">Request an appointment now</a></p>
                    </div>
                </div><!-- .thumb-list__item -->
            </div><!-- .thumb-list__row -->

            <div class="thumb-list__row">
                <div class="thumb-list__item--article u-cf">
                    <div class="thumb-list__thumb">
                        <img src="http://placehold.it/190x128" alt="">
                    </div>
                    <div class="thumb-list__text rtf">
                        <h3><a href="#">Hear patient stories.</a></h3>
                        <p>Descriptive text that includes brief explanatory copy here. <a class="link-generic-action" href="">Call to action goes here</a></p>
                    </div>
                </div><!-- .thumb-list__item -->
            </div><!-- .thumb-list__row -->

            <div class="thumb-list__row">
                <div class="thumb-list__item--article u-cf">
                    <div class="thumb-list__thumb">
                        <img src="http://placehold.it/190x128" alt="">
                    </div>
                    <div class="thumb-list__text rtf">
                        <h3><a href="#">What is a patient navigator?</a></h3>
                        <p>Descriptive text that includes brief explanatory copy here. <a class="link-generic-action" href="">Call to action goes here</a></p>
                    </div>
                </div><!-- .thumb-list__item -->
            </div><!-- .thumb-list__row -->

            <div class="thumb-list__row">
                <div class="thumb-list__item--article u-cf">
                    <div class="thumb-list__thumb">
                        <img src="http://placehold.it/190x128" alt="">
                    </div>
                    <div class="thumb-list__text rtf">
                        <h3><a href="#">Looking for a certain cancer type?</a></h3>
                        <p>Descriptive text that includes brief explanatory copy here. <a class="link-generic-action" href="">See a full list of cancers we treat</a></p>
                    </div>
                </div><!-- .thumb-list__item -->
            </div><!-- .thumb-list__row -->
        </div><!-- .thumb-list -->
    </div><!-- .padbox1-grid__col -->
</div>


