---
layout: 3-col-master.hbs
title: Treatment Team
description: Description
section: 1
showOffcanvasToggles: true
breadcrumbData: <%= breadcrumbs.typesofcancer %>
ctas:
    - <%= cta.appt %>
portlets:
    - <%= portlet.relatedservices %>
    - <%= portlet.events %>
---

<!-- YAPL
name: Treatment Team
-->

<div class="l-row">
    <div class="rtf">Teaser text dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
</div>

<div class="thumb-list">
    <div class="thumb-list__row thumb-list__row--bordered rtf">
        <h2 class="thumb-list__title">Medical Oncology</h2>
        <div class="u-cf">
            <div class="thumb-list__item thumb-list__item--headshot">
                <a href="#">
                    <img src="/images/assets/headshot-m.png" alt="">
                    <h5>George Coukos, MD, PhD</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="thumb-list__row thumb-list__row--bordered rtf">
        <h2 class="thumb-list__title">Radiation Oncology</h2>
        <div class="u-cf">
            <div class="thumb-list__item thumb-list__item--headshot">
                <a href="#">
                    <img src="/images/assets/headshot-f.png" alt="">
                    <h5>Tracy S. d’Entremont, MD</h5>
                </a>
            </div>

            <div class="thumb-list__item thumb-list__item--headshot">
                <a href="#">
                    <img src="/images/assets/headshot-m.png" alt="">
                    <h5>Thomas Randall, MD</h5>
                </a>
            </div>
        </div>
    </div>

    <div class="thumb-list__row thumb-list__row--bordered rtf">
        <h2 class="thumb-list__title">Surgical Oncology</h2>
        <div class="u-cf">
            <div class="thumb-list__item thumb-list__item--headshot">
                <a href="#">
                    <img src="/images/assets/headshot-m.png" alt="">
                    <h5>Stephen C. Rubin, MD</h5>
                </a>
            </div>

            <div class="thumb-list__item thumb-list__item--headshot">
                <a href="#">
                    <img src="/images/assets/headshot-f.png" alt="">
                    <h5>Female Icon, MD</h5>
                </a>
            </div>
        </div>
    </div>
</div>