
@mixin actionLinks2Col {
    a {
        float: left;
        height: 77px;
        width: 50%;
    }
}

.action_links {
    background-color: #FBF7EE;

    a {
        @extend %a;
        background-position: 0% 50%;
        color: #000;
        display: table; // So we can center text properly. Best IE8-compatible alt to flexbox
        font-family: $VAGBold;
        table-layout: fixed;
        width: 100%;

        > span {
            display: table-cell;
            height: 100%;
            line-height: 1.1;
            vertical-align: middle;
            width: 100%;
        }

        .content-home & {
            font-size: 17px;
        }

        .portlet-action_links & {
            background-size: 52px 52px;
            font-size: 17px;
            font-weight: normal;
            letter-spacing: 1pt;
            > span {
                padding-left: 60px;
            }
            .content-secondary & {
                font-size: 15px;
                .l-section_landing & {
                    font-size: 17px;
                }
            }
        }
    }

    h2 {
        margin: 10px 0;
    }

}

@include small-only {
    .action_links {
        a {
            height: 75px;
            > span {
                padding-left: 70px;
            }
        }

        .content-home & {
            a {
                background-size: 57px 57px;
                background-position: $mobileSidePad 50%;
                border-top: 1px solid #D9D7D3;
                padding: 0 $mobileSidePad;
                &:first-child {
                    border-top: 0;
                }
            }
        }

        .portlet & {
            a {
                background-size: 52px 52px;
                height: 75px;
            }
        }

    }

}


@include medium-and-below {



}


@include medium-only {

    .action_links {

        .content-home & {
            > .l-inner {
                padding: 12px $tabletSidePad4;
            }
            a {
                float: left;
                height: 90px;
                width: 33.333%;
            }
        }

        .portlet & {
            a {
                height: 68px;
            }
        }

    }

}


@include medium-and-above {

    .action_links {
        a {
            > span {
                padding: 0 10px 0 80px;
            }
        }
    }

}


@include large-and-above {

    .action_links {

        a {
            height: 68px;
        }

        .content-home & {
            padding: 26px 0;
            > .l-inner {
                @include desktopInner;
            }
            a {
                float: left;
                height: 80px;
                width: 16.666%;
            }
        }


        // Column view and other style differences on section landing
        &.l-cols-2-mq-large {
            @include actionLinks2Col;
        }

    }

}
