
.alert {
    background-color: $errorRed;
    padding: 15px 0;
    position: relative;
}

.alert-close, .alert-info, .alert-title {
    color: #FFF;
}
.alert-close, .alert-title {
    font-family: $VAGBold;
}
.alert-close {
    @extend %icon-circle-x-gray;
    background-color: transparent;
    background-position: 100% 50%;
    border: 0;
    cursor: pointer;
    float: right;
    line-height: 37px;
    margin: 0;
    padding: 0 44px 0 0;
}
.alert-info {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
}
.alert-title {
    @extend %icon-alert;
    background-position: 0 0;
    float: left;
    font-size: 27px;
    padding: 2px 0 2px 32px;
    letter-spacing: 1pt;
}


@include small-only {

    .alert {
        padding-left: $mobileSidePad;
        padding-right: $mobileSidePad;
    }
    .alert-close {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .alert-info {
        clear: both;
        margin-top: 15px;
    }

}

@include medium-only {

    .alert {
        padding: 10px $tabletSidePad;
        > .l-inner {

        }
    }

}

@include medium-and-above {

    .alert-close {
        font-size: 21px;
        margin-left: 5%;
    }
    .alert-info {
        overflow: hidden;
    }
    .alert-title {
        margin-right: 15px;
    }

}

@include large-and-above {

    .alert {
        > .l-inner {
            @include desktopInner;
        }
    }

}