.article_list {}

.article_list-item {
    display: block;

    a {
        @extend %a;
    }

    > p {
        margin: 0;
    }
}

.article_list-lg {

    .article_list-item {
        border-top: 1px solid #BEBEBE;
        padding: 24px 0;
        &:first-child {
            border-top: 0;
            padding-top: 0;
        }
    }

    .article_list-item-copy {
        min-width: 250px;
        overflow: hidden;
    }

}

.article_list-sm {

    .article_list-item {
        margin-top: 34px;
        &:first-child {
            margin-top: 0;
        }
    }

    .article_list-item-img {
        margin-bottom: 8px;
        max-width: 45%;
    }

}

.article_list-item-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.article_list-item-more {
    display: block;
    margin-top: 10px;
}

.article_list-item-title {
    margin-bottom: 5px;
    margin-top: 5px;
}
