.content_block {
    background: $gray3;
    margin-bottom: 20px;
    padding: 20px;
}

.content_block-group {
    margin: 0;
    overflow: hidden; // One true technique layout for cross-browser equal columns
}

.content_block-more {
    @extend %a;
    display: block;
    font-weight: bold;
    margin-top: 24px;
}

@include medium-and-above {

    .content_block {
        .content_block-group.l-cols-2 & {
            float: left;
            margin-left: 2%;
            margin-bottom: -9960px; // One true technique layout for cross-browser equal columns
            padding-bottom: 10000px; // One true technique layout for cross-browser equal columns
            width: 49%;
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .content_block-group {
        &.l-cols-2 {
            margin-bottom: 50px;
            &.last {
                margin-bottom: 0;
            }
        }
    }

}
