.content-toggles {
    margin-bottom: 18px;
    .content-nav-display-toggle,
    .content-secondary-display-toggle {
        background-position: 144px center;
        background-repeat: no-repeat;
        border-radius: 5px;
        display: block;
        height: 32px;
        font-family: $VAGBold;
        font-size: 17px;
        letter-spacing: 1pt;
        padding: 8px 0 8px 14px;
        &:hover {
            text-decoration: none;
        }
    }
    .content-nav-display-toggle {
        background-color: #305076;
        color: $white;
        float: left;
        width: 163px;
        &.icon-nav-hide {
            padding-left: 26px;
            background-position: 12px center;
        }
    }
    .content-secondary-display-toggle {
        background-color: $tan4;
        color: $black;
        float: right;
        width: 167px;
    }
}

@include small-only {
    .content-toggles {
        .content-nav-display-toggle,
        .content-secondary-display-toggle {
            background-position: 118px center;
            font-size: 15px;
            letter-spacing: 0.5pt;
            padding: 9px 0 8px 10px;
        }
        .content-nav-display-toggle {
            display: none;
            width: 133px;
            &.icon-nav-hide {
                padding-left: 22px;
                background-position: 8px center;
            }
        }
        .content-secondary-display-toggle {
            width: 142px;
        }
    }
}