/* YAPL
name: FAQ
notes: Blah Blah
partial: faq
context: faq.main
*/

.faq {
    position: relative;
}

.faq-item {
    margin-bottom: 14px;
    padding: 0 10px;
}

.faq-group {
    border-top: 1px solid #BEBEBE;
    padding-top: 28px;
    &:first-child {
        border-top: 0;
        padding-top: 0;
    }
}

.faq-group-title {
    color: #000;
    margin-bottom: 24px;
}

.faq-answer,
.faq-question {
    padding-left: 26px;
}

.faq-question {
    @extend %a;
    @extend %icon-circle-plus-blue;
    background-position: 0 0;
    background-size: 19px 19px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    .module-is-expanded & {
        @extend %icon-circle-minus-blue;
    }
    .lt-ie9.no-svg & {
        background: url(/images/ie/icons/icon-circle-plus-blue.png) no-repeat top left;
    }
    .lt-ie9.no-svg .module-is-expanded & {
        background: url(/images/ie/icons/icon-circle-minus-blue.png) no-repeat top left;
    }
}

/* YAPL
name: FAQ Toggle All Button
notes: Blah Blah Poo
*/

.faq-toggle_all {
    @extend %a;
    background-color: $gray3;
    background-position: 10px 50%;
    background-size: 19px 19px;
    border: 0;
    border-top: 1px solid #BEBEBE;
    display: block;
    font-family: $VAGBold;
    font-size: 16px;
    line-height: 36px;
    margin: 0 0 20px 0;
    outline: 0;
    padding: 3px 15px 0 36px;
    text-align: left;
    width: 100%;
    &.faq-is-collapsed {
        @extend %icon-circle-plus-purple;
        > .show-if-collapsed {
            display: block;
        }
        > .show-if-expanded {
            display: none;
        }
        .lt-ie9.no-svg & {
            background: url(/images/ie/icons/icon-circle-plus-purple.png) no-repeat 11px 11px;
        }
    }
    &.faq-is-expanded {
        @extend %icon-circle-minus-purple;
        > .show-if-collapsed {
            display: none;
        }
        > .show-if-expanded {
            display: block;
        }
        .lt-ie9.no-svg & {
            background: url(/images/ie/icons/icon-circle-minus-purple.png) no-repeat 11px 11px;
        }
    }
}

