
.hero {
    overflow: hidden;
    position: relative;
}

.hero__copy,
.hero__title,
.hero__subtitle,
.hero__more {
    color: inherit;
}

.hero__copy {
    opacity: .86;
}

.hero__img img {
    width: 100%;
}

.hero__next,
.hero__prev {
    @extend %icon-slider-prevnext-lg-white;
    position: absolute;
}

.hero__next {
    background-position: 100% 50%;
    height: 95px;
    opacity: .25;
    width: 60px;
    .lt-ie9 & {
        filter: alpha(opacity=25)
    }
}

.hero__slide {
    position: absolute;
    table-layout: fixed;
    transform: translateX(-100%);
    transition: transform 1s;
    width: 100%;
    &.is-active {
        display: table;
        position: relative;
        transform: translateX(0);
    }
    .is-active + & {
        transform: translateX(100%);
    }

    .no-csstransitions & {
        display: none;
        &.is-active {
            display: table;
        }
    }
}

.hero__tag {
    background-color: #F4F4F4;
    color: #003F72;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 2em;
    padding: 5px 10px;
    text-transform: uppercase;
}

.hero__text {
    background-color: #133D71;
    color: #FFF;
    padding: 30px 20px;
    position: relative;

    &:after {
        background-image: url(/images/assets/badge-sm-color.png); /*ImageEmbed:skip*/
        background-repeat: no-repeat;
        background-position: 50% 50%;
        content: "";
        display: block;
        height: 50px;
    }
}

.hero__title {
    margin-bottom: .5em;
}

.hero__more {
    &:after {
        @extend %icon-circle-chevron-cyan-sm-circle-e;
        content: '';
        display: inline-block;
        height: 28px;
        left: 6px;
        position: relative;
        top: 7px;
        width: 28px;
    }
}

.hero__badge {
    background-image: url(/images/assets/badge-transparent-med.png); /*ImageEmbed:skip*/
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}


@include medium-and-below {

    .hero__text {
        display: table-caption;
        caption-side: bottom;
    }

}


@include large-only {

    .hero__img {
        width: 60%;
    }

    .hero__text {
        width: 40%;

        &:after {
            display: none;
        }
    }

}


@include large-and-above {

    .hero__img,
    .hero__text {
        display: table-cell;
        vertical-align: top;
    }

    .hero__next {
        margin-top: -48px;
        top: 50%; right: 20px;
    }

    .hero__text {
        background-image: radial-gradient(ellipse at 40% 40%, rgba(79,127,200,0.46) 0%,rgba(253,254,254,0) 99%,rgba(255,255,255,0) 100%);
    }

}


@include very-large-only {

    .hero__img {
        width: 70%;
    }

    .hero__text {
        width: 30%;
    }

}
