
.locations_map-canvas {
    height: 330px;
    img {
        max-width: none; // Fixes display issues on google map
    }
}

.locations_map-popup {
    h3 {
        text-align: center;
        a {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.12;
        }
    }
}