/* ======  Primary Navigation Styles ====== */

.nav-primary {}

.nav-primary__level1 {
    > li {
        > a {
            @extend %icon-chevron-green-s;
            &.is-toggled {
                @extend %icon-chevron-red-s;
            }
        }
    }
}


@include medium-and-below {

    .nav-primary__figure {
        display: none;
    }

    .nav-primary__level3 {
        display: none;
    }

}


@include large-and-above {

    .nav-primary {
        margin-left: -16px; // Offset needed to account for padding on each top level link
        position: fixed;
        top: 108px;
        z-index: $zindexPrimaryNav;

        .select-wrap {
            display: block;
        }

        &.is-unfixed {
            position: absolute;
        }
    }

    .nav-primary__figure {
        display: table;
        float: right;
        figcaption {
            caption-side: bottom;
            display: table-caption;
            font-size: 14px;
            line-height: 1.5;
            padding-top: 15px;
        }
    }

    .nav-primary__level1 {
        > li {
            color: #667166;
            display: block;
            font-size: 20px;
            float: left;
            @include helveticaMedium;
        }
    }

    .nav-primary__level1-toggle {
        background-position: 94% 50%;
        border-radius: 4px 4px 0 0;
        color: inherit;
        display: block;
        padding: 10px 32px 15px 16px;
        &.is-active {
            @extend %icon-chevron-red-s;
            color: #264685;
        }

        .module-is-expanded & {
            background-color: $flyoutTan;
        }
    }

    .nav-primary__level2 {
        > li {
            color: $limeGreen;
            font-size: 24px;
            margin-top: 50px;
            @include helveticaRegular;
            &:first-child {
                margin-top: 0;
            }
            > a {
                color: inherit;
            }
        }
    }

    .nav-primary__level2-col {
        display: table-cell;
        max-width: 43%;
        padding-left: 30px;
        vertical-align: top;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            width: 30%
        }
    }

    .nav-primary__level2-col--narrow {
        width: 22%;
    }

    .nav-primary__level2-col-wrap {
        display: table;
    }

    .nav-primary__level3 {
        font-family: $arial;
        margin-top: 20px;
        > li {
            color: $dkRed;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 1em;
            padding-left: 20px;
            position: relative;
            &:before {
                content: "\2022";
                top: -1px; left: 5px;
                font-size: 18px;
                position: absolute;
            }
            > a {
                color: #0059A3;
            }
        }

    }

    .nav-primary__level2-wrap {
        background-color: $flyoutTan;
        border-bottom: 13px solid #FFF;
        padding: 35px 0;
        position: fixed;
        top: 153px; left: 0; width: 100%;
        @include sectionBottomShadow;
    
        &.is-unfixed {
            position: absolute;
            left: 0;
            top: 45px;
        }
    }


    li.nav-primary__more {
        margin-top: 1.8em;
        padding-left: 0;
        &:before {
            display: none;
        }
    }

}