/* ======  Breadcrumb Navigation Styles ====== */

/* YAPL
name: Breadcrumb Navigation
notes: Shows the trail of pages up to the current and also acts as secondary navigation
context: breadcrumbs.master
*/

.nav-breadcrumbs {
    @extend %helveticaMedium;
    background-color: #FFF;
    border-top: $medDkBlueBorder;
    padding: 0 5%;
    a {
        color: #666;
        &.is-active {
            color: $orange;
        }
    }
}

.nav-breadcrumbs__level1 {
    > li {
        border-top: $thinGrayBorder;
        padding-left: 4px;
        &:first-child {
            border-top: 0;
        }
    }
    @for $i from 3 through 6 {
        > li:nth-child(#{$i}) {
            padding-left: 12px * ($i - 2);
        }
        // IE8 makes this much loop much lamer since it gets angry at having an nth-child selector on the same line
        > li.nth-child-#{$i} {
            padding-left: 12px * ($i - 2);
        }
    }
}

.nav-breadcrumbs__level2 {
    li {
        border-top: $thinGrayBorder;
        font-size: 15px;
        padding: 14px 4px 14px 13px;
        .nav-breadcrumbs__level1 > li:first-child,
        .nav-breadcrumbs__level1 > li:first-child + li {
            padding-left: 10px;
        }
        > a {
            color: #4B4C4D;
        }
    }
}


// ADD SCROLLABLE STYLES
.nav-breadcrumbs__scroll-next,
.nav-breadcrumbs__scroll-prev {
    display: none;
    .is-scrollable & {
        display: block;
    }
}

.nav-breadcrumbs__toggle {
    font-size: 16px;
    padding: 14px 40px 14px 0;
    position: relative;
    .nav-breadcrumbs__level1 li:first-child & {
        font-size: 19px;
    }
    a {
        .nav-breadcrumbs__level1 > li:first-child & {
            color: #174A87;
        }
    }
}

.nav-breadcrumbs__toggle-icon {
    @extend %icon-circle-chevron-e;
    background-position: 50% 50%;
    display: block;
    height: 100%;
    position: absolute;
    top: 0; right: 0;
    width: 32px;

    .nav-breadcrumbs__level1 > li.module-is-expanded & {
        @extend %icon-circle-chevron-s;
    }
    .nav-breadcrumbs__level1 > li:first-child & {
        @extend %icon-circle-chevron-blue-sm-e;
    }
    .nav-breadcrumbs__level1 > li.module-is-expanded:first-child & {
        @extend %icon-circle-chevron-blue-sm-s;
    }
}