
.content-secondary-title {
    color: #000;
}

.portlet {
    position: relative;
    background-color: $tan4;
    margin-bottom: 16px;

    .l-section_landing .content-secondary & {
        margin-bottom: 35px;
    }

    .grid-col & {
        margin-bottom: 0;
    }

    .form {
        background-color: #E2ECFA;
    }

    a {
        @extend %a;
        font-weight: bold;
        line-height: 1;
    }
    h4 {
        @extend .h4;
        color: #FFF;
        margin-bottom: 0;
    }
    p {
        color: $darkerGray;
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 14px;
    }

    .title-img {
        display: block;
        margin-bottom: 14px;
    }

    .link-icon-padding {
        color: $black;
        font-family: $VAGLight;
        font-size: 17px;
        letter-spacing: 1pt;
        line-height: 110%;
        margin-top: -29px;
        margin-bottom: 14px;
        padding-left: 68px;
        padding-right: 16px;
        position: relative;
        a {
            display: block;
            margin-top: 6px;
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        float: left;
        margin-right: 10px;
        + label {
            display: block;
            overflow: hidden;
            position: relative;
            top: 1px;
        }
    }
}

.portlet-action_links {
    background-color: $tan4;
    padding: 10px 16px;

    .l-section_landing & {
        padding: 18px 16px;
    }

    .action_links {
        background-color: inherit;
    }

}

.portlet-padding {
    padding: 16px 16px 29px;
}
h4.portlet-padding {
    padding: 13px 16px;
}
a.portlet-expand-toggle {
    background-position: 100% 50%;
    color: $white;
    display: block;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.08em;
    padding-right: 32px;
    position: relative;
    &:hover {
        color: #FFF;
    }
    .module-is-collapsed & {
        @extend %icon-circle-plus-white;
    }
    .module-is-expanded & {
        @extend %icon-circle-minus-white;
    }
}

// Portlet Types
.portlet-appt {
    background-position: 16px 16px;
    background-size: 51px 51px;
    .portlet-text {
        font-size: 16px;
        line-height: 1.1;
        padding-left: 60px;
        padding-top: 10px;
    }
    h4 {
        background: $blue;
    }
}
.portlet-appt-action,
.portlet-appt-location,
.portlet-appt-tel {
    display: block;
    margin-bottom: 4px;
}
.portlet-appt-action {
    color: #000;
    font-family: $VAGBold;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1pt;
    line-height: 1.1;
}
.portlet-appt-location {
    font-family: $VAGLight;
}
a.portlet-appt-tel {
    font-family: $VAGBold;
    font-weight: normal;
}
.portlet-childrens {
    h4 {
        background: $lightPurple;
    }
}
.portlet-for-the-media {
    h4 {
        background: $lightPurple;
    }
    ul {
        margin-bottom: 0;
        margin-left: 6px;
    }
    li {
        margin-top: 4px;
    }
}
.portlet-gift_shop {
    h4 {
        background: $skyBlue;
    }
}
.portlet-in_the_news,
.portlet-more_cancer {
    h4 {
        background: $green;
    }
}
.portlet-locations_map {
    position:fixed;
    min-width: 345px;
    &.is-sticky {
        position: fixed;
        top: 20px;
    }
    h4 {
        color: $gray2;
    }
}
.portlet-media_list {
    .l-section_landing .content-secondary & {
        h2 {
            color: $green;
        }
    }
}
.portlet-newsletter {
    h4 {
        background: $blue;
    }
}
&.portlet-no-bg {
    background-color: $white;
    h4 {
        color: rgb(0,108,216);
        margin-bottom: 9px;
    }
}
.portlet-pediatrician {
    h4 {
        background: $green;
    }
}
.portlet-social {
    h4 {
        background: $green;
    }
    .portlet-padding {
        padding-right: 0;
    }
}
.portlet-social-links {
    padding: 12px 0;
    text-align: center;
    > a {
        background-size: contain;
        display: inline-block;
        height: 51px;
        margin: 8px 6px 5px;
        width: 51px;
    }
}
.portlet-twitter {
    margin-bottom: 6px; // Twitter widget contains padding
    h4 {
        border-bottom: 1px solid #BEBEBE;
        margin-bottom: 0; // Twitter widget contains padding
    }
}




@include small-only {
    .portlet {
        margin-bottom: 14px;
        width: 100%;
        .portlet-padding {
            padding: 10px 15px;
        }
    }
}

@include large-and-above {

    .portlet-action_links {

        // layout-specific style differences
        .l-section_landing .content-secondary &,
        .l-2-col-master .content-primary .grid-col & {
            padding: 29px 20px;
        }

    }

}


