/* ======  Related Content Styles ====== */

/* YAPL
name: Related Content
notes: List of related content items.
partial: related-content
context: relatedContent.yaplExample
*/

.related-content {
    margin: 30px 0;

    .portlet__title[class*="icon-"] {
    	padding: 15px 0 20px 70px;
    }
}


@include medium-and-above {

    .related-content {
        @include grid(".portlet--half", 2, 4%, 0%);

        .portlet {
        	padding: 20px 4%;
        }
    }

}