.search_sort {
    background-color: $gray3;
    border-top: 1px solid #BEBEBE;
    font-size: 15px;
    margin-top: 24px;
    padding: 15px 10px 0 12px;
    position: relative;

}

.search_sort-bottom {
    margin-bottom: 24px;
}

.search_sort-pagination,
.search_sort-section {
    margin-bottom: 14px;
    margin-right: 14px;
}

.search_sort-pagination {
    margin-right: 0;
    ul {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }
    li {
        display: inline;
        a {
            @extend %a;
            display: inline-block;
            height: 25px;
            font-size: 15px;
            font-weight: bold;
            padding-top: 4px;
            text-align: center;
            vertical-align: middle;
            width: 21px;
            &.is-active {
                color: $black;
                text-decoration: underline;
            }
            &.icon-pagination-prev,
            &.icon-pagination-next {
                width: 25px;
            }


            &.icon-pagination-prev:not(.is-active):hover {
                @extend %icon-pagination-prev-hover;
            }

            &.icon-pagination-next:not(.is-active):hover {
                @extend %icon-pagination-next-hover;
            }
        }
    }
}

.search_sort-pagination-displaying {
    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
    font-size: 15px;
}

.search_sort-pagination-next,
.search_sort-pagination-prev {
    padding-top: 0;
}
.search_sort-pagination-next {
    margin-left: 5px;
}
.search_sort-pagination-prev {
    margin-right: 5px;
}


// Site-wide search
.search_sort-site {
    margin-bottom: 18px;
    .form-label,
    .form-input-text,
    .form-submit {
        display: inline-block;
        margin: 0 10px 13px 0;
        vertical-align: middle;
    }
    .form-label {
        color: #000;
    }
    .form-input-text {
        border-radius: 25px;
        height: 50px;
        input[type="search"],
        input[type="text"] {
            color: #000;
            font-family: $VAGLight;
            font-size: 20px;
            font-style: italic;
        }
    }
    .form-submit {
        @extend %icon-search-sm-white;
        background-position: 50% 50%;
        background-size: 26px 26px;
        border-radius: 50%;
        color: transparent;
        height: 50px;
        width: 50px;
    }
}

@include small-only {



}


@include medium-and-below {

    .search_sort {
        label {
            display: block;
            margin-bottom: 8px;
        }
        select {
            display: block;
            width: 100%;
        }
    }

    .search_sort-site {
        .form-label {
            display: block;
        }
        .form-input-text {
            width: 70%;
        }
    }

}

@include medium-and-above {



}


@include large-and-above {

    .search_sort {
        label {
            display: inline-block;
            line-height: 29px;
            vertical-align: middle;
        }

        .form-select {
            vertical-align: middle;
            width: auto;
        }

        select {
            margin: 0 0 0 3px;
            color: #000;
        }
    }

    .search_sort-pagination {
        float: right;
    }

    .search_sort-section {
        display: inline-block;
    }

    // Site-wide search
    .search_sort-site {
        .form-input-text {
            width: 50%;
        }
    }

}
