/* ======  Tab/Accordion Styles ====== */

/* YAPL
name: Tabs
notes: Tabs go in the main content area of the page and shift to an accordion view at mobile.
partial: tabs
context: tabs.master
*/

$tabsMobilePaddingLeft: 44px;

.tabs {
    margin: 30px 0;
}

.tabs__content-inner {
    display: none;
    .tabs__content.is-active & {
        display: block;
    }
}

.tabs__content-wrap {
    background-color: #FFF;
    overflow: hidden;
}

.tabs__title {
    margin-top: 0;
}

.tabs__toggle--mobile {
    @extend %icon-circle-plus-thin;
    background-position: 0 50%;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    height: 54px;
    padding: 10px 0 10px $tabsMobilePaddingLeft;
    vertical-align: middle;

    .tabs__content.is-active & {
        @extend %icon-circle-minus-thin;
    }
}

.tabs__toggles {
    float: left;
    width: 166px;
    > a {
        @extend %helveticaRegular;
        background-color: #F0EFEA;
        border-top: 1px solid #D4D0CF;
        color: #666;
        display: block;
        font-size: 16px;
        padding: 14px 30px 14px 18px;
        position: relative;
        &:after {
            margin-top: -6px;
            top: 50%; right: 15px;
            @include triangle(6px, 12px, e, #C3BBB9);
        }
        &.is-active {
            background-color: #FFF;
            color: $orange;
            &:after {
                display: none;
            }
        }

        &:first-child {
            border-top: 0;
        }
    }
}


@include small-only {

    .tabs__content {
        border-top: $thinGrayBorder;
        &:first-child {
            border-top: 0;
        }
    }

    .tabs__content-inner {
        padding-left: $tabsMobilePaddingLeft;
    }
    .tabs__content-wrap {
        padding: 22px 22px 22px 12px;
    }

    .tabs__toggles {
        display: none;
    }

}


@include medium-and-above {

    .tabs__content-inner {
        padding: 16px;
    }

    .tabs__toggle--mobile {
        display: none;
    }

}