<div class="accordion accordion--filters filters filters--events padbox1 js-tabs">

    <h2 class="accordion__title h2">Find Events</h2>

    <div class="accordion__item-wrap">
        <div class="accordion__item js-tabs__content" data-tab="1">
            <h2 class="accordion__item-title h3">
                <a href="#tab-1" class="js-tabs__toggle a">Date</a>
            </h2>
            <div class="accordion__item-inner cf">

                <div class="filters__datepicker js-filters__datepicker">
                    <input type="text" class="js-datepicker u-hidden">
                </div>

                <div class="filters__form form">
                    <div class="form__row">
                        <input id="radio-1" name="radio" type="radio">
                        <label for="radio-1">Day</label>
                    </div>
                    <div class="form__row">
                        <input id="radio-2" name="radio" type="radio">
                        <label for="radio-2">Week</label>
                    </div>
                    <div class="form__row">
                        <input id="radio-3" name="radio" type="radio">
                        <label for="radio-3">Month</label>
                    </div>
                    <div class="form__row">
                        <input id="checkbox-1" name="checkbox" type="checkbox">
                        <label for="checkbox-1">Include Past Events</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="accordion__item js-tabs__content" data-tab="2">
            <h2 class="accordion__item-title h3">
                <a href="#tab-2" class="js-tabs__toggle a">Event Type</a>
            </h2>
            <div class="accordion__item-inner cf">

                <div class="filters__form">

                    <div class="form__row">
                        <input id="checkbox-2" name="checkbox" type="checkbox">
                        <label for="checkbox-2">All Events</label>
                    </div>
                    <div class="form__row">
                        <input id="checkbox-3" name="checkbox" type="checkbox">
                        <label for="checkbox-3">Support Groups</label>
                    </div>
                    <div class="form__row">
                        <input id="checkbox-4" name="checkbox" type="checkbox">
                        <label for="checkbox-4">Community Events</label>
                    </div>
                    <div class="form__row">
                        <input id="checkbox-5" name="checkbox" type="checkbox">
                        <label for="checkbox-5">Academic Events</label>
                    </div>
                    <div class="form__row">
                        <input id="checkbox-6" name="checkbox" type="checkbox">
                        <label for="checkbox-6">Online Events</label>
                    </div>

                </div>

            </div>
        </div>
        <div class="accordion__item js-tabs__content" data-tab="3">
            <h2 class="accordion__item-title h3">
                <a href="#tab-3" class="js-tabs__toggle a">Sponsor</a>
            </h2>
            <div class="accordion__item-inner cf">

                <div class="select-wrap select-wrap--sm u-block">
                    <select name="" id="" class="select">
                        <option value="">All Sponsors</option>
                        <option value="">Sponsor Name</option>
                        <option value="">Sponsor Name</option>
                        <option value="">Sponsor Name</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="accordion__item js-tabs__content" data-tab="4">
            <h2 class="accordion__item-title h3">
                <a href="#tab-4" class="js-tabs__toggle a">Location</a>
            </h2>
            <div class="accordion__item-inner cf">

                <div class="select-wrap select-wrap--sm u-block">
                    <select name="" id="" class="select">
                        <option value="">All Locations</option>
                        <option value="">Location Name</option>
                        <option value="">Location Name</option>
                        <option value="">Location Name</option>
                    </select>
                </div>

            </div>
        </div>
    </div><!-- .accordion__item-wrap -->

</div><!-- .accordion -->