<ul class="cta-list">
    <li><a href="#" class="link-more">Information for Patients and Loved Ones</a></li>
    <li><a href="#" class="link-more">Investigators and Clinicians</a></li>
    <li><a href="#" class="link-more">Ways to Give</a></li>
</ul>