<aside class="feed-wrap">

    <h2 class="feed__title">
        <span class="feed__title-main h2">Join the Conversation:</span>
        <a href="#" class="feed__title-hash h4 a">#abramsonyoungfriends</a>
    </h2>

    <div class="feed feed--twitter">
        <div class="feed__inner">
            <span class="feed__message rtf">
                <a href="#">@ldubb:</a> Headed to the Abramson Young Friends wine tasting fundraiser right now! <a href="">#abransonyoungfriends</a>
            </span>
            <span class="feed__date rtf">6:40 PM&nbsp;&nbsp;-&nbsp;&nbsp;7 Mar 14</span>
        </div>
    </div>

</aside><!-- .feed-wrap -->