{{! The Hero Partial }}

<!--
    The hero randomly picks one image on load, and chooses the correct one based on the screen width.
    Each array of images should match based on index. Separate each image with a vertical bar.
-->
<div class="hp-hero js-hero"
    data-depend="/js/modules/HpHero.js"
    data-images-lg="/images/temp/hero-bg-1-lg.jpg|/images/temp/hero-bg-2-lg.jpg|/images/temp/hero-bg-3-lg.jpg"
    data-images-med="/images/temp/hero-bg-1-med.jpg|/images/temp/hero-bg-2-med.jpg|/images/temp/hero-bg-3-med.jpg"
    data-images-sm="/images/temp/hero-bg-1-sm.jpg|/images/temp/hero-bg-2-sm.jpg|/images/temp/hero-bg-3-sm.jpg">

    <div class="hp-hero__bg hp-hero__bg--sm js-hero__bg--sm u-hidden-mq-medium u-hidden-mq-large"></div>
    <div class="hp-hero__bg hp-hero__bg--med js-hero__bg--med u-hidden-mq-small u-hidden-mq-large"></div>
    <div class="hp-hero__bg hp-hero__bg--lg js-hero__bg--lg u-hidden-mq-small u-hidden-mq-medium"></div>

    <div class="l-contain">

        <div class="hp-hero__content">
            <div class="hp-hero__content-inner">
                <h2 class="hp-hero__title">
                    <span class="hp-hero__title-text">Only at Penn Medicine</span>
                </h2>
                <p class="hp-hero__copy u-hidden-mq-small">With every new breakthrough at Penn’s Abramson Cancer Center, we’re discovering that the cure for cancer isn’t just within reach, it’s within us all.</p>
                <div class="hp-hero__ctas cf">
                    <a href="#" class="hp-hero__cta hp-hero__cta--doctor btn btn--blue">
                        <span class="hp-hero__cta-text">Find a Doctor</span>
                    </a>
                    <a href="#" class="hp-hero__cta hp-hero__cta--appt btn btn--blue">
                        <span class="hp-hero__cta-text">Request an Appointment</span>
                    </a>
                </div>
            </div>
        </div><!-- .hp-hero__content -->

    </div><!-- .l-contain -->

</div><!-- .hp-hero -->
