<div class="search {{modifier}} input--shadow">
    <input type="text" class="search__input" placeholder="Search for cancers by name">
    <input type="submit" class="search__submit search__submit--red ir">
</div>