{{! The sharebar partial }}

<div class="sharebar">
    <span class="sharebar__text u-hidden-mq-small">Share Page</span>
    <a href="#" class="icon-facebook">Facebook</a>
    <a href="#" class="icon-twitter">Twitter</a>
    <a href="#" class="icon-print">Print</a>
    <a href="#" class="icon-mail">Email</a>
</div>
