{{! The Slider Partial }}

<div class="slider js-slider"
    data-depend="/js/modules/Slider.js"
    data-random="true">

    <div class="slider__slides">
        <div class="slider__slide js-slider__slide">
            <div class="slider__slide-img">
                <img src="/images/temp/slider-home-1.jpg" alt="alt text">
            </div>
            <div class="slider__slide-text">
                <span class="slider__slide-title">Lorem Ipsum Dolor Sit Amet</span>
                <p class="slider__slide-copy">Dolor sit amet consectetur adipiscing elit morg treng rewc venud pomg weghik.</p>
                <a href="#" class="slider__slide-more link-more">Call to action link</a>
            </div>
        </div>
        <div class="slider__slide js-slider__slide">
            <div class="slider__slide-img">
                <img src="/images/temp/slider-home-2.jpg" alt="alt text">
            </div>
            <div class="slider__slide-text">
                <span class="slider__slide-title">Slide 2 Title</span>
                <p class="slider__slide-copy">Slide 2 descriptive text.</p>
                <a href="#" class="slider__slide-more link-more">Call to action link</a>
            </div>
        </div>
        <div class="slider__slide js-slider__slide">
            <div class="slider__slide-img">
                <img src="/images/temp/slider-home-3.jpg" alt="alt text">
            </div>
            <div class="slider__slide-text">
                <span class="slider__slide-title">Third Slide Longer Title</span>
                <p class="slider__slide-copy">Dolor sit amet consectetur adipiscing elit morg.</p>
                <a href="#" class="slider__slide-more link-more">Call to action link</a>
            </div>
        </div>
        <div class="slider__slide js-slider__slide">
            <div class="slider__slide-img">
                <img src="/images/temp/slider-home-4.jpg" alt="alt text">
            </div>
            <div class="slider__slide-text">
                <span class="slider__slide-title">Slide Number 4</span>
                <p class="slider__slide-copy">Adipiscing elit morg treng rewc venud pomg weghik.</p>
                <a href="#" class="slider__slide-more link-more">Call to action link</a>
            </div>
        </div>
    </div>

    <div class="slider__pager js-slider__pager">
        <button type="button" class="slider__pager-btn js-slider__pager-btn">1</button>
        <button type="button" class="slider__pager-btn js-slider__pager-btn">2</button>
        <button type="button" class="slider__pager-btn js-slider__pager-btn">3</button>
        <button type="button" class="slider__pager-btn js-slider__pager-btn">4</button>
    </div>

</div>
