{{! The Story Slider Partial }}

<aside class="story-slider story-slider--half-bottom js-story-slider" data-depend="/js/modules/StorySlider.js" data-position="0">
    <h2 class="story-slider__title h3">{{title}}</h2>

    <div class="story-slider__stories-wrap">
        <ul class="story-slider__stories">
            {{#each slides}}
            <li class="story-slider__story js-story-slider__story">
                <a href="#">
                    <img src="http://placehold.it/201x136" alt="" class="story-slider__story-img">
                    <span class="story-slider__story-text">{{this}}</span>
                </a>
            </li>
            {{/each}}
        </ul><!-- .story-slider__stories -->

    </div><!-- .story-slider__stories-wrap -->

    <button type="button" class="story-slider__prev js-story-slider__prev ir">Previous</button>
    <button type="button" class="story-slider__next js-story-slider__next ir">Next</button>

    {{#if subtitle}}
        <h5 class="story-slider__subtitle"> <a href="#">{{subtitle}}</a></h5>
    {{/if}}
</aside><!-- .story-slider -->