
.l-contain,
%l-contain {
    @include contain1;
}

.l-row {
    margin: $defaultModuleMarginMobile;

    &:first-child {
        margin-top: 0;
    }
}

@include small-only {

    .l-contain-mq-small {
        @include contain1;
    }

}


@include medium-only {

    .l-contain-mq-medium {
        @include contain1;
    }

}


@include large-and-above {

    .l-contain-mq-large {
        @include contain1;
    }

    .l-row {
        margin: $defaultModuleMarginDesktop;
    }

}
