/* ======  Footer Styles ====== */

.footer {
    background-color: #DADADA;
    padding: 28px 0;
}

.footer__address {
    color: #3B3B3B;
    line-height: 1.2;
    a {
        color: inherit;
    }
}

.footer__address,
.footer__nav {
    font-size: 13px;
}

.footer__logos {
    clear: both;
}

.footer__nav {
    li {
        display: inline-block;
        margin-bottom: 15px;
        &:after {
            color: #999;
            content: "\00a0|";
            margin: 0 4px;
        }
        &:last-child:after {
            content: "";
            margin: 0;
        }
        > a {
            color: #054685;
        }
    }
}

.footer__social > a,
.footer__social-text {
    margin-right: 10px;
    vertical-align: middle;
    &:last-child {
        margin-right: 0;
    }
}

.footer__social {
    margin-bottom: 25px;
    > a {
        background-size: 100%;
        display: inline-block;
        height: 32px;
        width: 32px;
    }
}

.footer__social-text {
    color: #858593;
    font-weight: bold;
}


@include small-only {

    .footer__address,
    .footer__nav {
        padding: 0 8px;
    }

}


@include medium-and-below {

    .footer__group {
        &:after {
            border-bottom: 1px solid #E9E9E9;
            border-top: 1px solid #C1C1C1;
            content: "";
            display: block;
            margin: 20px 0;
            width: 100%;
        }
    }

    .footer__social {
        > a {
            &:first-child {
                margin-left: 0;
            }
        }
    }

}


@include large-and-above {

    .footer__group {
        margin-bottom: 30px;
    }

}
