/* ======  Header Styles ====== */

.l-header {
    background-color: #FFF;
    border-top: $thickDkBlueBorder;
    padding: 18px 0 10px;
    position: relative;
    @include sectionBottomShadow;
}

.l-header__logo {
    background-repeat: no-repeat;
    display: block;
    float: left;
    position: relative;
    z-index: $zindexLogo;
}

.l-header__nav-toggle {
    margin-left: 10px;
}

.l-header__nav-toggle,
.l-header__search-submit,
.l-header__search-toggle {
    cursor: pointer;
    display: block;
    height: 32px;
    width: 41px;
}

.l-header__nav-toggle,
.l-header__search-toggle {
    float: right;
}

.l-header__phone {
    @extend %helveticaLight;
    color: #172571;
    float: right;
}

.l-header__search {
    border: $thinGrayBorder;
    float: right;
}

.l-header__search {
    position: relative;
}

.l-header__search-input {
    border: 0;
    font-size: 15px;
    height: 100%;
    padding-left: 12px;
    padding-right: 45px;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}

.l-header__search-submit,
.l-header__search-toggle {
    background-color: #E3E3E3;
    background-position: 50% 50%;
}

.l-header__search-submit {
    position: absolute;
    top: -1px; right: -1px;
}

.l-header__toggles {
    clear: right;
    float: right;
}

@include small-only {

    .l-header__logo {
        background-image: url(/images/assets/logo-sm.svg); /*ImageEmbed:skip*/
        height: 60px;
        width: 149px;
    }
    .no-svg .l-header__logo {
        background-image: url(/images/assets/logo-sm.png); /*ImageEmbed:skip*/
    }

    .l-header__phone {
        font-size: 18px;
        margin-bottom: 10px;
    }

    // TEMP
    .l-header__search {
        display: none;
    }

}


@include medium-only {

    .l-header__logo {
        background-image: url(/images/assets/logo-lg.svg); /*ImageEmbed:skip*/
        height: 57px;
        width: 392px;
    }
    .no-svg .l-header__logo {
        background-image: url(/images/assets/logo-med.png); /*ImageEmbed:skip*/
    }

    .l-header__phone {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .l-header__search {
        display: none;
        height: 32px;
        width: 270px;
    }

}


@include large-and-above {

    .l-header {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        z-index: $zindexHeader;

        &.is-unfixed {
            position: absolute;
        }
    }

    .l-header__logo {
        background-image: url(/images/assets/logo-lg.svg); /*ImageEmbed:skip*/
        height: 67px;
        width: 462px;
    }
    .no-svg .l-header__logo {
        background-image: url(/images/assets/logo-lg.png); /*ImageEmbed:skip*/
    }

    .l-header__phone {
        font-size: 26px;
        margin-bottom: 16px;
        margin-top: 38px; // Accounts for utility nav being absolutely position above
    }

    .l-header__search {
        height: 39px;
        width: 320px;
    }

    .l-header__search-submit,
    .l-header__search-toggle {
        height: 39px;
        width: 50px;
    }

    .l-header__search-toggle {
        display: none;
    }

}
