// Global header styles

.header {
    background-color: $dkBlue;
    position: relative;
    z-index: 100;
}

// Logo
.header-logo {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    float: left;
    .svg & {
        background-image: url(/images/assets/logo.svg);
    }
    .no-svg & {
        background-image: url(/images/assets/logo.png); /*ImageEmbed:skip*/
    }
}

// Search
.header-search {
    width: 260px;
}
.header-search-input {
    padding-right: 40px; // Account for submit button
    .lt-ie9 & {
        line-height: 28px;
    }
}
.header-search-submit {
    @extend .icon-search-sm-blue;
    background-color: transparent;
    background-position: 50% 50%;
    border: 0;
    color: transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0; right: 0;
    width: 40px;
}

.header-search-toggle, .header-utility-nav a {
    position: relative;
    &.is-active:after {
        @extend .triangle;
        @include triangle(21px, 11px, n, #FFF);
        left: 50%;
        z-index: 2;
    }
}
.header-search-toggle {
    @extend .icon-search-sm-white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 19px;
    width: 19px;
    &:focus {
        outline: 0;
    }
    &.is-active {
        @extend .icon-search-sm-gold;
        &:after {
            margin-left: -11px;
            top: 47px;
        }
    }
}

// Utility Area
.header-utility {
    float: right;
    text-align: right;
    > button,
    > div,
    > nav {
        vertical-align: middle;
    }
    .nav-breadcrumbs-toggle {
        margin-left: 6px;
    }
}
.header-utility-nav {
    display: inline-block;
    > a {
        font-size: 13px;
        &.is-active:after {
            margin-left: -14px;
            top: 47px;
        }
        &:hover {
            @extend .a:hover;
        }
    }
}


@include small-only {

    .header {
        padding: 8px $mobileSidePad 0;
    }

    .header-forms {
        background-color: $dkBlue;
        padding: 2px $mobileSidePad $mobileSidePad;
        top: 74px;
    }
    .header-forms-inner {
        padding: $mobileSidePad;
    }

    .header-logo,
    .header-utility {
        margin-bottom: 8px;
        max-width: 50%;
    }

    .header-logo {
        height: 58px;
        width: 136px;
    }

    .header-search-toggle, .header-utility-nav a {
        &.is-active:after {
            top: 36px;
        }
    }

    .header-utility {
        margin-top: 5px;
    }

}


@include medium-and-below {

    .header {
        background-color: $dkBlue;
        .hero-is-active & {
            background-color: $transparentDkBlue;
        }
    }

    .header-forms {
        display: none;
        position: absolute;
        left: 0;
        text-align: left;
        width: 100%;
        &.is-active {
            display: block;
        }
        .form-input-text {
            border-radius: 17px;
            height: 34px;
        }
    }
    .header-forms-inner {
        background-color: #FFF;
        border-radius: 6px;
    }

    .header-search {
        display: none;
        &.is-active {
            display: block;
        }
    }

    .header-search {
        width: 100%;
    }

    .header-utility-nav {
        > a {
            border-right: 1px solid rgba(255,255,255, .89);
            color: rgba(255,255,255, .89);
            margin-right: 6px;
            padding-right: 8px;
            .no-rgba & {
                border-right: 1px solid #FFF;
                color: #FFF;
            }
            &.is-active {
                color: $gold;
            }
        }
    }

}


@include medium-only {

    .header {
        padding: 10px $tabletSidePad 0;
    }

    .header-forms {
        background-color: $transparentDkBlue;
        padding: 4px $tabletSidePad $tabletSidePad;
        top: 90px;
    }
    .header-forms-inner {
        padding: $tabletSidePad;
    }

    .header-logo,
    .header-utility {
        margin-bottom: 10px;
    }

    .header-logo {
        height: 70px;
        width: 164px;
    }

    .header-search-toggle {
        margin: 0 20px;
    }

    .header-utility {
        margin-top: 10px;
    }
    .header-utility-nav {
        > a:last-child {
            border-right: 0;
            margin-right: 0;
        }
    }

}

@include large-and-above {

    .header {
        background-color: $transparentDkBlue;
        border-top: 45px solid #FFF;
        padding: 10px 0;
        > .l-inner {
            position: relative;
            @include desktopInner;
        }
    }

    .header-forms {
        display: inline-block;
    }

    .header-logo {
        height: 73px;
        width: 172px;
    }

    .header-search-toggle, .header-utility-nav a {
        &.is-active:after {
            display: none;
        }
    }

    .header-search-toggle {
        display: none;
    }

    .header-tab_links, .header-utility {
        position: absolute;
        top: -47px; right: 0;
    }
    .header-tab_links {
        left: 0;
    }
    .header-utility {
        right: 0;
    }

    .header-utility-nav {
        margin-right: 25px;
        > a {
            border-left: 1px solid #363636;
            color: #363636;
            margin-left: 6px;
            padding-left: 8px;
            &:first-child {
                border-left: 0;
            }
        }
    }

}