<ul class="sg-breadcrumb l-float-l">
    <li class="open-sans open-sans--semibold">
        <a href="/styleguide/">Design Pattern Library</a>
    </li>
    <li class="open-sans open-sans--semibold">
        {{#if module.name}}<a href="/styleguide/">{{/if}}
            {{module.parent}}
        {{#if module.name}}</a>{{/if}}
    </li>
    {{#if module.name}}
    <li class="open-sans open-sans--semibold">
        {{module.name}}
    </li>
    {{/if}}
</ul>