<div class="form">

    <div>
        <input type="checkbox" class="input-checkbox">
    </div>
    <div>
        <input type="radio" class="input-radio">
    </div>
    <div>
        <input type="submit" class="input-submit">
    </div>
    <div>
        <input type="text" placeholder="Placeholder Text" class="input-text">
    </div>
    <div>
        <input type="email" placeholder="Placeholder Text" class="input-email">
    </div>
    <div>
        <input type="search" placeholder="Placeholder Text" class="input-search">
    </div>
    <div>
        <input type="password" placeholder="Placeholder Text" class="input-password">
    </div>
    <div>
        <textarea placeholder="Placeholder Text" class="textarea"></textarea>
    </div>

</div>