{{#if title}}
<h1 class="h1-main">
{{#if backToLink}}<a href="{{backToLink}}" class="link-back">{{backToLinkText}}</a>{{/if}}
    <span class="h1-main__title u-block">{{title}}</span>
    {{#if subtitle}}<span class="h1-main__subtitle u-block">{{subtitle}}</span>{{/if}}
</h1>
{{/if}}
