<table class="table table--events table--sortable js-table--sortable" data-depend="/js/modules/TableSort.js">
    <thead>
        <th class="table__col table__col--date">
            <button type="button" class="table__sort-toggle js-table__sort-toggle" data-col="1" data-order="desc">Date</button>
        </th>
        <th class="table__col table__col--title">
            <button type="button" class="table__sort-toggle js-table__sort-toggle" data-col="2" data-order="desc">Title</button>
        </th>
        <th class="table__col table__col--sponsor">
            <button type="button" class="table__sort-toggle js-table__sort-toggle" data-col="3" data-order="desc">Sponsor</button>
        </th>
        <th class="table__col table__col--loc">
            <button type="button" class="table__sort-toggle js-table__sort-toggle" data-col="4" data-order="desc">Location</button>
        </th>
    </thead>
    <tbody>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150312">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">12</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="The Breast Cancer Psychotherapy Group">
                <a href="#">The Breast Cancer Psychotherapy Group</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Abramson Cancer Center">
                Abramson Cancer Center
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150312">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">12</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="Biannual Amyloidosis Support Group Meeting - Philadelphia | South Jersey">
                <a href="#">Biannual Amyloidosis Support Group Meeting - Philadelphia | South Jersey</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Abramson Cancer Center">
                Abramson Cancer Center
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Translational Research Center">
                Translational Research Center
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150313">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">13</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="To Your Health, Southwest! Say NO to Colorectal Cancer!">
                <a href="#">To Your Health, Southwest! Say NO to Colorectal Cancer!</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Abramson Cancer Center">
                Abramson Cancer Center
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150314">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">14</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="Young Friends of the Abramson Cancer Center Happy Hour Wine, Beer, &amp; Vodka Tasting Fundraising Event">
                <a href="#">Young Friends of the Abramson Cancer Center Happy Hour Wine, Beer, &amp; Vodka Tasting Fundraising Event</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Other">
                Other
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150315">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">15</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="HEADstrong Foundation/4th Annual Lime Light Gala">
                <a href="#">HEADstrong Foundation/4th Annual Lime Light Gala</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Other">
                Other
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150316">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">16</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="Get Your Rear in Gear-Philadelphia 4 mile run, 2 mile walk, and kid’s fun run">
                <a href="#">Get Your Rear in Gear-Philadelphia 4 mile run, 2 mile walk, and kid’s fun run</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Other">
                Other
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150316">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">16</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="Focus on Integrative Medicine &amp; Wellness Conference">
                <a href="#">Focus on Integrative Medicine &amp; Wellness Conference</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Abramson Cancer Center">
                Abramson Cancer Center
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
        <tr>
            <td class="table__col table__col--date" data-sort-val="20150316">
                <div class="event-date event-date--sm icon-calendar-54">
                    <span class="event-date__month">Mar</span>
                    <span class="event-date__day">16</span>
                </div>
            </td>
            <td class="table__col table__col--title rtf" data-sort-val="HOLD THE DATE 11th Focus on Melanoma Conference">
                <a href="#">HOLD THE DATE 11th Focus on Melanoma Conference</a>
            </td>
            <td class="table__col table__col--sponsor rtf" data-sort-val="Abramson Cancer Center">
                Abramson Cancer Center
            </td>
            <td class="table__col table__col--loc rtf" data-sort-val="Venue - Other">
                Venue - Other
            </td>
        </tr>
    </tbody>
</table><!-- .table--events -->