{{! The content toggles partial - contains off canvas triggers }}

{{#is showOffcanvasToggles true}}
    <div class="content-toggles l-contain u-hidden-mq-large">
        <button type="button" class="content-nav-toggle icon-in_this_section ir js-content-nav-toggle">In This Section</button>
    </div>
{{/is}}
