<div id="page-scripts">
    <!-- build:js /js/main.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/js/modules/Media.js"></script>
    <script src="/js/modules/Expand.js"></script>
    <script src="/js/modules/ContextBox.js"></script>
    <script src="/js/modules/Nav.js"></script>
    <script src="/js/modules/Header.js"></script>
    <script src="/js/modules/OffCanvas.js"></script>
    <script src="/js/modules/Select.js"></script>
    <script src="/js/modules/Table.js"></script>
    <script src="/js/modules/Tabs.js"></script>
    <script src="/js/modules/Video.js"></script>

    <script src="/bower_components/Helper-JS-Modules/Dependencies.js"></script>
    <!-- endbuild -->

    <!--[if lte IE 9]>
        <script src="/js/modules/IERow.js"></script>
        <script src="/js/modules/IEfixes.js"></script>
    <![endif]-->
</div>