{{! The Footer Partial }}

<footer class="footer">
    <div class="l-contain cf">

        <div class="footer__group u-float-l-mq-large">
            <nav class="footer__nav">
                <ul>
                    <li><a href="#">Penn Medicine Home</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Statement</a></li>
                    <li><a href="#">Legal Disclaimer</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </nav>

            <address class="footer__address">
                Penn Medicine, Philadelphia, PA
                <a href="tel:8007897366">800-789-7366</a>
                &copy; 2014, The Trustees of the University of Pennsylvania
            </address>
        </div>

        <div class="footer__social u-float-r-mq-large">
            <span class="footer__social-text u-hidden-mq-small u-hidden-mq-medium">Follow Us</span>
            <a href="#" class="icon-facebook ir">Facebook</a>
            <a href="#" class="icon-twitter ir">Twitter</a>
            <a href="#" class="icon-youtube ir">YouTube</a>
        </div>

        <div class="footer__logos">
            <img src="/images/temp/logo-nciccc.png" alt="A National Cancer Center Designed by the National Cancer Institute">
        </div>

    </div><!-- .l-contain -->
</footer><!-- .footer -->