{{! The l-Header Partial }}

<header class="l-header js-header">

    <div class="l-contain cf">

        <a href="#main" class="u-visuallyhidden u-focusable">Skip to main content</a>
        <a href="#nav-primary" class="u-visuallyhidden u-focusable">Skip to navigation</a>

        <a href="/ProductionTemplates/home.html" class="l-header__logo ir" title="Go to the home page">Penn Medicine - Abramson Cancer Center</a>

        <a href="tel:800-789-7366" class="l-header__phone">800-789-PENN</a>

        <div class="l-header__toggles cf">
            <button type="button" class="l-header__nav-toggle icon-nav-toggle ir u-hidden-mq-large js-nav-toggle" title="Open navigation">Menu</button>
            <button type="button" class="l-header__search-toggle icon-search-blue ir u-hidden-mq-large js-search-toggle">Expand Search</button>
            <div class="l-header__search">
                <input type="search" placeholder="Search this site" class="l-header__search-input">
                <input type="submit" class="input-submit l-header__search-submit icon-search-blue ir" value="Submit">
            </div>
        </div>

        <!-- Navigation is in bottom of document, visually placed in header with CSS -->

    </div><!-- .l-inner1 -->

</header><!-- .l-header -->