/* ====== Button Styles ====== */

/* YAPL
name: Default button
notes: The button without any modifying classes
partial: btn
context: btn.default
*/

.btn {
    @extend %helveticaMedium;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    &:hover {
        text-decoration: none;
    }
}


/* YAPL
name: Blue button
notes: The default button, but blue
partial: btn
context: btn.blue
*/

.btn--blue,
a.button--blue {
    background-color: #3393CF;
    background-image: linear-gradient(to bottom, #4F9CD5 0%, #3C87C9 100%);
    color: #FFF;
    &:hover {
        background-image: none;
    }
}