/* ====== Form Styles ====== */

/* YAPL
name: Form
notes: Default styles for form elements. Styles can be applied with a single wrapping "form" class, or a class, based on the tagname can be applied directly to the element.
partial: form
*/

::-webkit-input-placeholder {
    color: #999;
    text-overflow: ellipsis;
}

:-moz-placeholder {
    color: #999;
    text-overflow: ellipsis;
}

::-moz-placeholder {
    color: #999;
    text-overflow: ellipsis;
}

:-ms-input-placeholder {
    color: #999;
    text-overflow: ellipsis;
}

// IE9 and lower polyfill - requires https://github.com/mathiasbynens/jquery-placeholder
.placeholder {
    color: #999;
    text-overflow: ellipsis;
}

.input-text, .form input[type="text"] {}

.input-search, .form input[type="search"] {}

.input-submit, .form input[type="submit"] {
    text-indent: -9999px;
}

.select, .form select {
    background-color: #FFF;
    border: $thinGrayBorder;
    color: #919891;

    &::-ms-expand {
        display: none;
    }
}

.selects-wrap {
    display: table;
    width: 90%;

    .selects-wrap__title,
    .select-wrap {
        display: table-cell;
        vertical-align: middle;
    }

    @include small-only {
        width: 100%;
    }
}
.selects-wrap__title {
    font-size: 20px;
    width: 90px;

    @include small-only {
        display: table-row !important;
        font-size: inherit;
        line-height: 2em;
        text-align: center;
        width: 60px;
    }
}
.selects-wrap__title--choice {
    color: #003F72;
    font-size: 17px;
    font-style: italic;
    text-align: center;

    @include small-only {
        font-size: inherit;
        line-height: 3em;
    }
}

.select-wrap {
    background-color: #FFF;
    border: $thinGrayBorder;
    display: inline-block;
    overflow: hidden;
    position: relative;
    &:after,
    &:before {
        pointer-events: none; // Allows clicking the arrow to trigger the <select> (except in IE < 11)
    }
    &:after {
        top: 50%;
        z-index: 10; // Places it over the child <select> element
    }
    &:before {
        background-color: $dkRed;
        content: "";
        height: 100%;
        position: absolute;
        top: 0; right: 0;
        z-index: 10; // Places it over the child <select> element
    }

    > .select {
        background: transparent;
        background-image: none;
        border: none;
        box-shadow: none;
        font-size: inherit;
        line-height: 1;
        padding: 7px 8px 5px;
        position: relative;
        width: 110%;
        -webkit-appearance: none;
        &:focus {
            outline: 0;
        }
    }
}

.select-wrap--sm {
    font-size: 14px;

    &:after {
        margin-top: -4px;
        right: 17px;
        @include triangle(14px, 8px, s, #FFF);
    }
    &:before {
        width: 50px;
    }

    .select {
        height: 40px;
    }
}

.select-wrap--lg {
    font-size: 18px;

    &:after {
        margin-top: -5px;
        right: 21px;
        @include triangle(18px, 10px, s, #FFF);
    }
    &:before {
        width: 64px;
    }

    .select {
        @extend %helveticaLight;
        height: 48px;
    }
}

.select-wrap--trials {
    &:before {
        background-color: $mediumBlue;
    }
}



.textarea, .form textarea {}

.form {
    input[type="text"] {}
    textarea {
        width: 100%;
    }
}

.form__row {
    margin-top: 20px;
    &:first-child {
        margin-top: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
        float: left;

        + label {
            display: block;
            margin-left: 30px;
            padding-top: 4px;
        }
    }
}


.input--shadow {
    border: 1px solid #cecece;
    
    input[type="text"],
    input.text,
    select,
    select.select {
        background-color: #fff;
        background-image: linear-gradient(#fff, #f5f5f5);
        background: linear-gradient(to bottom, #fff 0%, #fff 50%, #f5f5f5 100%);
        color: $bodyTextColor;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0 );
    }
}
