/* ====== Circled Letter Styles ====== */

/* YAPL
name: Letters
notes: A series of letters, typically used in a series as links
partial: letters
*/

.letters {
    > a {
        @extend %helveticaRegular;
        border: 2px solid;
        border-radius: 50%;
        color: #434343;
        display: block;
        float: left;
        font-size: 18px;
        height: 34px;
        line-height: 30px;
        margin: 0 6px 6px 0;
        text-align: center;
        width: 34px;
    }
}