
.triangle, [class*="triangle-"]:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}

.triangle-e-dkgray:after {
    @include triangle(6px, 12px, e, #333);
    margin-left: 10px;
    margin-top: 1px;
}