/* ======  Typography / RTF Styles ====== */

// To prevent overwriting issues, we have very few tag-only styles.
// Instead, we define a class that can be extended

body {
    font-size: 14px;
}

// Base fonts

%helveticaLight {
    @include helveticaLight;
}

%helveticaRegular {
    @include helveticaRegular;
}

%helveticaMedium {
    @include helveticaMedium;
}

%serif {
    @include serif;
}


// Base

.rtf {
    color: $bodyTextColor;
    line-height: 1.61;
}


// Clear extra margin

.rtf > *:first-child {
    margin-top: 0;
}


// Anchor Styles

%a {
    color: $linkBlue;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.a,
.rtf a {
    @extend %a;
}


// Header Styles

.h1-main {
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 5px;
}

.h1,
.h1-main__title {
    color: #173972;
    line-height: 1.1;
}
.h1-main__subtitle {
    @extend %helveticaRegular;
    color: #000;
    margin-top: .5em;
}

// Only apply top margins when it's actually in a rich text field to prevent unnecessary overriding later on
.rtf h2,
.rtf h3,
.rtf h4 {
    margin-top: 2em;
}
.h2, .rtf h2,
.h3, .rtf h3,
.h4, .rtf h4 {
    margin-bottom: 1em;
}
.h2, .rtf h2 {
    color: #000;
}
.h3, .rtf h3 {
    color: #013A73;
}
.h4, .rtf h4 {
    color: #000;
}
.h5, .rtf h5 {}


// Banner

.banner {
    @extend %serif;
    border-bottom: $thinGrayBorder;
    border-top: $thinGrayBorder;
    color: #003D73;
    font-size: 32px;
    line-height: 1.3em;
    padding: .5em 0;
    text-align: center;

    @include small-only {
        .u-inline-block {
            display: inline !important;
        }
    }
}


// Body Copy Style

.p, .rtf p,
.ul, .rtf ul,
.ol, .rtf ol {
    color: inherit;
    font-family: $arial;
    font-size: inherit;
    line-height: inherit;
}

.p, .rtf p {
    margin-bottom: 1em;
}
.ul, .rtf ul {
    font-family: $arial;
    margin: 0.5em 0;
}

// UL - Level 1 / General
.ul li,
.rtf ul li {
    margin-bottom: 0.5em;
    min-width: 200px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
    &:before {
        color: #FF8000;
        content: "\2022";
        top: -6px; left: 0;
        font-size: 24px;
        position: absolute;
    }
    > a {
        color: #0059A3;
    }
}

// UL - Level 2
.ul li > ul > li,
.rtf ul > li > ul > li {
    &:before {
        content: "\00b0";
        font-size: 21px;
        top: 0px;
    }
}

// UL - Level 3
.ul li > ul > li > ul > li,
.rtf ul > li > ul > li > ul > li {
    &:before {
        color: #646464;
        content: "\2013";
        font-size: 14px;
        font-weight: bold;
        top: 0px;
    }
}


// Big List (UL)
.big-list {
    padding-bottom: 20px;
}

// Big List (UL) - Level 1
.big-list > li,
.rtf .big-list > li {
    padding-bottom: 10px;
    padding-left: 0;

    &:before {
        display: none;
    }
}

// Big List (UL) - Level 2
.big-list li > ul > li,
.rtf .big-list li > ul > li {
    margin-left: 20px;

    &:before {
        color: #FF8000;
        content: "\2022";
        top: -6px; left: 0;
        font-size: 24px;
        position: absolute;
    }
}

// Big List (UL) - Level 3
.big-list li > ul > li > ul > li,
.rtf .big-list li > ul > li > ul > li {
    &:before {
        content: "\2022";
        font-size: 21px;
        top: 0px;
    }
}


.ol, .rtf ol {}


.link-generic-action {
    color: #004C85;
    display: block;
    margin-top: .5em;
}

// Link with a right-pointing single arrow quote

.link-arrow:after {
    content: '\00a0\203A';
}


// Link with a right-pointing double arrow quote

.link-arrows:after {
    content: '\00a0\00bb';
}


// Link that takes the user back one page

.link-back {
    font-weight: bold;
    color: #005186;
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 0px 2px 26px;
    position: relative;
    // Circle
    &:before {
        background-color: #E8E8E8;
        border-radius: 50%;
        content: "";
        height: 18px;
        position: absolute;
        top: 0; left: 0;
        width: 18px;
    }
    // Triangle
    &:after {
        @include triangle(6px, 8px, w, #0054AB);
        top: 5px; left: 5px;
    }
}


// Link with right-pointing chevron

%link-more {
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.21;
    .rtf & {
        font-size: 15px;
        // font-weight: bold;
    }
    &:after {
        // Some css trickery with non-breaking space characters so the icon will stay connected to the last word
        @extend %icon-chevron-ltblue-e;
        background-position: 0 50%;
        color: transparent;
        content: "\0a00";
        display: inline;
        font-family: Arial, sans-serif; // So that it displays consistently, no matter what the preceding font is
        height: 14px;
        margin-left: 8px;
        padding-right: 12px;
        vertical-align: middle;
        width: 14px;
        .ie9 &,
        .lt-ie9 & {
            background-position: 0 100%;
            height: 16px;
            width: 22px;
            padding-right: 10px;
            position: relative;
            top: -2px;
        }
        .lt-ie9 & {
            display: inline-block;
            text-indent: -9999px;
        }
    }
    &:hover {
        color: #0091CF;
        text-decoration: none;
    }
}
.link-more {
    @extend %link-more;
}
.rtf .link-more {
    font-weight: bold;
}


@include small-only {

    // Header Styles

    .h1-main {
        margin-bottom: 20px;
    }
    .h1,
    .h1-main__title {
        font-size: 26px;
    }
    .h2, .rtf h2,
    .h1-main__subtitle {
        font-size: 23px;
    }
    .h3, .rtf h3 {
        font-size: 19px;
    }
    .h4, .rtf h4 {
        font-size: 16px;
    }


    // Body Copy Style

    .rtf {
        font-size: 14px
    }

}

@include medium-only {

    // Header Styles

    .h1-main {
        margin-bottom: 25px;
    }


    // Body Copy Style

    .rtf {
        font-size: 15px;
    }

    .rtf--small {
        font-size: 14px;
    }

}


@include medium-and-below {

    .h1-main__title {
        @include helveticaRegular;
    }

}


@include medium-and-above {

    // Header Styles

    .h1,
    .h1-main__title {
        font-size: 36px;
    }
    .h2, .rtf h2,
    .h1-main__subtitle {
        font-size: 25px;
    }
    .h3, .rtf h3 {
        font-size: 21px;
    }
    .h4, .rtf h4 {
        font-size: 18px;
    }

}


@include large-and-above {

    // Header Styles

    .h1-main {
        margin-bottom: 30px;

        .l-2-col-master--w-content-secondary & {
            padding-right: 25%;
        }
        .l-3-col-master & {
            padding-right: 23%;
        }
    }
    .h1,
    .h1-main__title {
        @include helveticaLight;
    }


    // Body Copy Style

    .rtf {
        font-size: 16px;
    }

    .rtf--small {
        font-size: 15px;
    }

}
