// Base Typography Styles

// To prevent overwriting issues, we have very few tag-only styles.
// Instead, we define a class that can be extended

body {
    font-size: 14px;
}

// Base extend type sizes/line-heights

%txt-meta {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
}

// Anchor Styles

%a {
    color: $linkBlue;
    cursor: pointer;
    &:hover {
        color: $orange;
        text-decoration: none;
    }
}
.a,
.rtf a {
    @extend %a;
}

// RTF Image Styles

.rtf figure,
.figure {
    margin-right: 16px;
    margin-bottom: 10px;
    figcaption {
        background: $gray3;
        color: $gray2;
        font-family: $VAGBold;
        font-size: 14px;
        padding: 12px 14px;
    }
    &.l-float-r {
        margin-left: 16px;
        margin-right: 0;
    }
}

.rtf img[style*="float"] {
    max-width: 50%;
}

.rtf img[style*="left"] {
    margin-bottom: 8px;
    margin-right: 20px;
}

.rtf img[style*="right"] {
    margin-bottom: 8px;
    margin-left: 20px;
}


// Header Styles

.h1-main-title,
.h1-main-subtitle {
    display: block;
}

.h1,
.rtf h1,
.h1-main,
.h2,
.rtf h2,
.h3,
.rtf h3,
.h4,
.rtf h4,
.h5,
.rtf h5 {
    font-family: $VAGBold;
    letter-spacing: 1pt;
    margin-bottom: 15px;
}
.h1,
.rtf h1,
.h1-main {
    color: $redHeading;
    font-family: $VAGBold;
    font-size: 36px;
    margin-bottom: 15px;
    padding-top: 10px;
}
.h1-main-subtitle {
    color: $gray1;
    font-size: 20px;
}
.h2,
.rtf h2 {
    color: $lightPurple;
    font-size: 29px;
}
.content-primary {
    > h2:first-child {
        margin-top: 10px;
    }
}
.h3,
.rtf h3 {
    color: $green;
    font-size: 24px;
}
.h4,
.rtf h4 {
    color: #D3720D;
    font-size: 20px;
}
.h5,
.rtf h5 {
    color: $skyBlue;
    font-size: 16px;
    letter-spacing: 0;
    //font-weight: bold;
}


// Body Copy Style
.rtf em {
    font-style: italic;
}

.p,
.rtf p,
.ul,
.rtf ul,
.rtf ol {
    color: $darkerGray;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 24px;
    flex-flow: row wrap;
}

.content-primary-social + .rtf.cf {
    max-width: $desktopMaxWidth;
}

.ul,
.rtf ul {
    margin-left: 22px;
    ul {
        padding-left: 1em;
        margin-bottom: 0;
    }
}
.ol,
.rtf ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 22px;
    ol {
        padding-left: 1em;
        margin-bottom: 0;
    }
}
.li,
.rtf ul li {
    margin-top: 10px;
    padding-left: 16px;
    background: url('/images/assets/icon-circle-bullet.svg') no-repeat 0 9px;
    .lt-ie9 & {
        background: url('/images/ie/icon-circle-bullet.png') no-repeat 0 9px; /*ImageEmbed:skip*/
    }
    &:first-child {
        margin-top: 0;
    }
    li {
        margin-top: 0;
        padding-left: 1em;
        background: url('/images/assets/icon-circle-bullet-empty.svg') no-repeat 0 9px;
        background-size: 6px 6px;
        .lt-ie9 & {
            background: url('/images/ie/icon-circle-bullet-empty.png') no-repeat 0 9px; /*ImageEmbed:skip*/
        }
    }
}

.li-short,
.rtf-short li,
.ul-short,
.rtf-short ul,
.p-short,
.rtf-short p,
.rtf-short ol {
    line-height: 1.5;
}

.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

// General Link Styles
.link-arrow:after {
    content: '\00a0\203A';
    @include large-only {
        .portlet-action_links &,
        .portlet-appt & {
            content: '' !important;
        }
    }
}
.link-arrows:after {
    content: '\00a0\00bb';
}
.link-download {
    padding-right: 30px;
    &:after {
        margin-left: 8px;
        margin-top: -2px;
        position: absolute;
    }
}
.link-download-pdf:after {
    content: url(/images/assets/icon-doc-pdf.png);
}
.link-download-word:after {
    content: url(/images/assets/icon-doc-word.png);
}
.link-more {
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.21;
    &:after {
        // Some css trickery with non-breaking space characters so the icon will stay connected to the last word
        // extend an icon
        background-repeat: no-repeat;
        color: transparent;
        content: "\0a00";
        display: inline;
        height: 14px;
        margin-left: 4px;
        padding-right: 5px;
        vertical-align: middle;
        width: 14px;
    }
    &:hover {
        border-bottom: 1px solid #257DCA;
        text-decoration: none;
    }
}
.link-more-large {
    // extend an icon
    background-repeat: no-repeat;
    background-position: 100% 50%;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px 45px 10px 0;
}
.link-hide-text {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
}
.link-left-nav {
    @extend %a;
    font-family: $VAGBold;
    font-size: 16px;
    line-height: 110%;
}
.link-bg {
    display: block;
    min-height: 36px;
    background: #F4F3F2;
    border-radius: 18px;
    line-height: 36px;
    font-size: 17px;
    text-align: center;
    letter-spacing: .02em;
}


@include small-only {

    .rtf {
        figure {
            display: none;
        }
    }
    .h1-main-title {
        font-size: 32px;
    }

}
